.post-comments {
    margin: 40px 0 26px;
    .comments-header {
        border-bottom: 1px solid #eee;
        padding-bottom: 16px;
        span {
            font-size: 15px;
        }
    }
    .comments-options {
        padding: 16px 0;
    }

    // position: absolute;
    // top: 12px;
    // left: 0;
    // width: 36px;
    // height: 36px;
}