.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    
}

.footerArea{
    padding: 45px 0 55px;
    text-align: left;
    width:1100px;
    margin: 0 auto;

}

.contents{
    float:left;
    width:190px;

    ul{
        float: left;
        margin-top: 5px;
        list-style: none;
        font-size: 14px;
        li{
            list-style: none outside;
            list-style-position: outside;
            list-style-image: initial;
            list-style-type: none;
            margin-top: 5px;
        }
    }
}
        


// .result{
//     float: left;
//     font-weight: 400;
//     opacity: .6;
//     display: block;
//     ul{
//         margin-top:0;
//         padding: 0;
//         display: block;
//         list-style-type: disc;
//         margin-block-start: 1em;
//         margin-block-end: 1em;
//         margin-inline-start: 0px;
//         margin-inline-end: 0px;
//         padding-inline-start: 40px;
//         li{
//             list-style: none outside;
//             list-style-position: outside;
//             list-style-image: initial;
//             list-style-type: none;
//             margin-top: 0px;
            
//         }
//     }
// }

.result{
    float:left;
    font-weight: 400;
    opacity: .6;
    display: block;
    ul{
        float: left;
        margin-top: 5px;
        list-style: none;
        font-size: 14px;
        li{
            list-style: none outside;
            list-style-position: outside;
            list-style-image: initial;
            list-style-type: none;
            margin-top: 5px;
        }
    }
}