.postactionbuttons-container {
    padding-bottom: 12px;
    .postactionbuttons-content {
        width: 1024px;
        margin: 0 auto;
        text-align: right;

        button + button {
            margin-left: 8px;
        }
        
        button {
            border-radius: 2px;
            height: 34px;
            outline: none;
            border: none;
            font-size: 12px;
            cursor: pointer;
            padding: 0 14px;
            background: #eee;
            color: #000;
            font-weight: bold;
            &:hover { 
                opacity: 0.8;
            }
        }
        // .postactionbutton-publish {
        //     background: #3BC9DB;
        // }
        // .postactionbutton-cancel {
        //     background: #313131;
        // }
    }
}