.post-info {
    margin: 16px 0 29px;
    padding-bottom: 11px;
    border-bottom: 1px solid #eee;
    .post-title {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .post-subinfo {
        display: flex;
        justify-content: space-between;
        span { 
            position: relative;
            padding: 0 8px;
            &:first-child { padding-left: 0;}
        }
        span + span::before {
            content: ""; 
            position: absolute; 
            left:0; top:50%; 
            width: 1px; height: 14px; 
            background: #ccc; 
            transform: translateY(-50%);
        }
    }
}
.post-aritcle {

}
 
