.footer-container {
    width: 100%;
    
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    background: #292929;
    
    footer {
        width: 1168px;
        height: 140px;
        margin: 0 auto;
        padding: 25px 0 30px;
        margin: 0 auto;
        color: #fff;
        font-size: 14px;
        p { 
            font-size: 18px;
            margin-bottom: 5px;
        }
        
        .finfo-wrap { 
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li + li { margin-top: 3px;}
            .frinfo { 
                font-size: 24px;
            }
        }

        a:hover { color: #3f7ea8; font-weight: bold; }
    }   
}